.main {
  color: blue;
  font-size: 1.5em;
  font-family: cursive;
  font-weight: bold;
}
.container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 1px grey;
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  color: grey;
  padding: 20px;
  font-size: 1.2em;
  padding: 20px;
  margin-right: 40px;
  li {
    margin: 15px;
    input {
      height: 30px;
      border-radius: 10px;
      opacity: 0.3;
      padding: 12px;
    }
  }
}
