.container {
  margin-top: 150px !important;
  background-color: rgb(238, 231, 231);
  width: 1200px;
  height: 400px;
  display: flex;
  margin: auto;

  .subcontainer {
    display: flex;
    // background-color: aqua;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    width: 800px;
    height: 120px;

    h1 {
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}

.emailpart {
  display: flex;
  margin-top: 20px;

  .emailbox {
    background-color: white;
    height: 45px;
    width: 320px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
    border-radius: 2px;

    input {
      height: 40px;
      width: 300px;
      margin-left: -10px;
      font-size: 1rem;
      font-weight: 400;
      border-style: none;
      outline: none;
    }
  }
}

.subs {
  border-style: none;
  width: 6rem;
  font-size: 0.95rem;
  color: white;
  background-color: rgb(94, 94, 250);
  border-radius: 2px;
}

@media (max-width: 1200px) {
  .container {
    width: 1200px !important ;
    left: 0 !important;
    bottom: 0 !important;
    font-size: 2rem;
    position: relative !important;
    right: 0;
  }

  .subcontainer {
    font-weight: 500;
    font-size: 5.1rem;
  }
}
